<div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </li>
  <li class="list-group-item">
    <div style="text-align: right;">
      <strong>Total:</strong> {{ cartTotal | currency:'INR' }}
    </div>
    <button [routerLink]="['/order-placed']" class="btn btn-primary product-btn" style="display: block;margin-right: 0; margin-left: auto;">Place Order</button>
  </li>
</ul>

